

.card-table {
  background-color: green;
  position: relative;
  width: 1300px;
  height: 700px;
}

h5 {
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  margin-left: 40px;
}

span {
  display: inline-block;

}

.status {
  font-size: 30px;
}

.card-hand {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
}

.col-sm-2 {
  background-color: white;
  border: 1px solid black;
  height: 302.4px;
}
